{% extends 'base.html.twig' %}

{% block title %}Models{% endblock %}

{% block body %}
    <h1>Models</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in forms %}
            <tr>
                <td>{{ model.name }}</td>
                <td>
                    <a href="{{ path('app_form_edit', {'id': model.id}) }}">edit</a>
                    {{ include('form/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_form_new') }}">Create new</a>
{% endblock %}
