{% extends 'base.html.twig' %}

{% block title %}New Textarea{% endblock %}

{% block body %}
    <h1>Create new Textarea</h1>

    {{ include('textarea/_form.html.twig') }}

    <a href="{{ path('app_textarea_index') }}">back to list</a>
{% endblock %}
