{% extends 'base.html.twig' %}

{% block title %}Edit FrontOfficeTemplate{% endblock %}

{% block body %}
    <h1>Edit FrontOfficeTemplate</h1>

    {{ include('front_office_template/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_front_office_template_index') }}">back to list</a>

    {{ include('front_office_template/_delete_form.html.twig') }}
{% endblock %}
