{% extends 'base.html.twig' %}

{% block title %}Edit FrontOfficePage{% endblock %}

{% block body %}
    <h1>Edit FrontOfficePage</h1>

    {{ include('front_office_page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_front_office_page_index') }}">back to list</a>

    {{ include('front_office_page/_delete_form.html.twig') }}
{% endblock %}
