{% extends 'base.html.twig' %}

{% block title %}New menu item{% endblock %}

{% block body %}
    <h1>Create new menu item</h1>

    {{ include('menu_item/_form.html.twig') }}

    <a href="{{ path('app_menu_item_index') }}">back to list</a>
{% endblock %}
