{% extends 'base.html.twig' %}

{% block title %}Edit Entity{% endblock %}

{% block body %}
    <h1>    
        {% set pattern = model.getDisplayPattern() %}  
        {% for field in model.attributes %}
            {% if entity.getEntityMeta(field.name) is not empty %}
                {% set pattern = pattern|replace({ (field.name) : entity.getEntityMeta(field.name).value }) %}  
            {% endif %}
        {% endfor %}
        {{ pattern }}
    </h1>

    {{ include('entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_entity_index', {'id': model.id, 'view_id':view.id}) }}">back to list</a>

    {{ include('entity/_delete_form.html.twig') }}
{% endblock %}
